{% comment %}Drop the div .alert classes to revert to the default banner styling.{% endcomment -%}
<div class="banner alert alert-info">
  <p class="banner__text">
    {% comment %} TEXT GOES HERE {% endcomment %}
    {% comment %}
    Dart 2.1 is now available,
    with improved performance and usability.
    <a href="https://medium.com/dartlang/announcing-dart-2-1-improved-performance-usability-9f55fca6f31a">Learn more.</a>
    {% endcomment %}
    Dart 2.1 现发布，具有更高的性能和可用性。
    <a href="https://medium.com/dartlang/announcing-dart-2-1-improved-performance-usability-9f55fca6f31a">了解更多。</a>
  </p>
</div>
